pyrogram
tgcrypto
hachoir
psutil
pytz
yt-dlp
playwright
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
hachoir
playwright
psutil
pyrogram
python-dotenv
pytz
tgcrypto
yt-dlp
